*{margin :0px;}
h1{
    position: relative;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background: rgb(153, 0, 153);
   color: white;
   left: 30vw;
   width: 40vw; 
   height:auto;
   padding:20px;
   text-align: center;
   border-bottom-left-radius: 10%;
   border-bottom-right-radius: 10%;
   font-size:xx-large;

}
p{
    margin:20px;
    font-family: cursive;
    font-size: 1.5em;
}